:root {
  font-family: Inter, system-ui, Avenir, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #ccc;
}

body {
  margin: 0px;
}
